[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
twine = "*"
pytest = "*"
pytest-runner = "*"
Sphinx = "*"
pdbpp = "*"
autopep8 = "*"
pylint = "*"

[packages]
click = "*"
pytoml = "*"
johnny_decimal = {editable = true, path = "."}

[requires]
python_version = "3.10"
